.heart-fav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: red;
}
.heart-fav p {
  font-weight: 600;
}
.heart-fav svg:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.5);
}
@media only screen and (min-width: 325px) {
  .carousel-btnSM {
    display: none;
  }
  .bestSeller-showM {
    display: none;
  }
  .bestSeller-showM2 {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    
  }
  .mt-3 {
    display: flex;
    justify-content: center;
  }
  .productCard-flex {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.8rem;
  }
  .productCard-flex-new {
    color: green;
    font-weight: 600;
  }
  .productCard-flex-sale {
    color: red;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .carousel-btnSM {
    width: 5rem;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .bestSeller-showM2 {
    display: none;
  }
  .bestSeller-showM {
    display: flex;
    width: 7rem;
    justify-content: space-between;
  }
  .mt-3 {
    display: flex;
    justify-content: end;
  }
  .productCard-flex {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5rem;
  }
  .productCard-flex-new {
    color: green;
    font-weight: 600;
  }
  .productCard-flex-sale {
    color: red;
    font-weight: 600;
  }
}
